.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

data/exports/*
!data/exports/.gitkeep
data/scheduler/
data/*.db
data/*.sqlite*

.env
.env.*
logs/

ppxxrr
ppxxrr.pub

*.rar
ls
csv/*.csv
data/*.tar.gz
data/member_sync_result*.csv
